body {
    background-color: #f5f9ff;
    font-family: "Playfair Display";
    line-height: 1.25;
    color: #2e402c;
    margin: 0 auto;
    width: 76em;
}

#TITLE {
    font-size: 1.6em;
    background-image: url("gallery/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    background-position: bottom;
}

#TITLE h4 {
    border: 2px solid white;
    width: 18em;
    margin: 1em auto;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 2px 2px #2e402c;
}