body {
    font-family: "Playfair Display";
    background-image: url("gallery/calabazas.jpg");
    /*background-size: cover;*/
    background-position: center;
    background-repeat: no-repeat;
    line-height: 1.25;
    color: #2e402c;
    margin: 0 auto;
    width: 76em;
}

#TITLE {
    font-size: 1.6em;
}

#TITLE h4 {
    color: #1b4b43;
    border: 2px solid white;
    width: 18em;
    margin: 1em auto;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 2px -0.5px white;
}