.cityFormBttn {
    border: 1px solid #2e402c;
    background-color: white;
    color: #2e402c;
    border-radius: 2em;
    padding: 1em;
    letter-spacing: 0.2em;
    font-size: 1.1em;
}

.cityFormBttn:hover {
    background-color: #2e402c;
    color: #ffffff;
}