#main {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 280px;
}

table {
    overflow-y: scroll;
    position: static;
    width: 40em;
    margin:2em 2em;
    height: 12em;
}

thead{
    font-size: 1.3rem;
}

.rows{
    font-size: 1.1em;
}