#main {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 201px;
}

table {
    overflow-y: scroll;
    position: static;
    width: 48em;
    margin-left: 6em;
}

.thead {
    font-size: 20px;
    width: 40em;
    margin: 4em 0em 4em 0em;
}

th {
    padding: 1.5em;
}

td {
    border-bottom: 1px solid rgb(164, 164, 185);
    height: 3em;
    font-size: 20px;
    text-align: center;
}

.headTr {
    width: 10em;
}