.recentCitiesAdded {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    border-radius: 0.2em;
    display: block;
    box-shadow: 0.5px 0.5px 3px gray;
    background-color: white;
    margin: 0px 0px 18px 2px;
    height: 28em;
    display: block;
    cursor: pointer;
    opacity:0.8;
}

.recentCitiesAdded:hover {
    top: -15px;
}

.cityTopSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#listtitle {
    font: 1.9em serif;
    padding: 1em 0em 0em 0em;
    border-bottom: 1px solid;
    margin-bottom: 2em;
}

.cityTopSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



h1 {
    font-size: 1.5em;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
}